<ng-container *ngIf="isPlayerChooserOpen">
  <app-player-chooser (OnClose)="onToggleOpenPlayerChooser(false)">
  </app-player-chooser>
</ng-container>
<ng-container *ngIf="isEndGameModalOpen">
  <app-modal>
    <div class="end-game-board">
      <div class="end-game-message">
        <span>{{endGameMsg}}</span>
      </div>
      <div class="end-game-buttons">
        <button (click)="onQuit()">Quit</button>
        <button (click)="onReplay()">Play again</button>
      </div>
    </div>
  </app-modal>
</ng-container>
<section class="container">
  <div class="header">
    <div class="top-header">
      <button (click)="onQuit()">Quit</button>
      <button (click)="onReplay()">Play again</button>
    </div>
    <div class="game-data">
      <div class="player player-one" [ngClass]="{'is-playing': PlayerService1.isPlaying}">
        <span>Player 1</span>
        <div class="playerSymbol">
          <ng-container *ngIf="PlayerService1.symbol === symbols.CIRCLE">
            <svg app-circle-svg></svg>
          </ng-container>
          <ng-container *ngIf="PlayerService1.symbol === symbols.CROSS">
            <svg app-cross-svg></svg>
          </ng-container>
        </div>
      </div>
      <div class="victories">
        <span>{{PlayerService1.victories}} - {{PlayerService2.victories}}</span>
      </div>
      <div class="player player-two" [ngClass]="{'is-playing': PlayerService2.isPlaying}">
        <span>Player 2</span>
        <div class="playerSymbol">
          <ng-container *ngIf="PlayerService2.symbol === symbols.CIRCLE">
            <svg app-circle-svg></svg>
          </ng-container>
          <ng-container *ngIf="PlayerService2.symbol === symbols.CROSS">
            <svg app-cross-svg></svg>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="body">
    <ng-container *ngIf="isTableOpen">
      <app-table class="table" [rowsCount]="tilesPerRow" [columnsCount]="tilesPerColumn" (OnEndGame)="onEndGame()">
      </app-table>
    </ng-container>
  </div>
</section>
